.card_image{
display: flex;
padding: 10px 10px;
}
.card_text img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.card_text p,h3{
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
}
.card_text p{
    color: lightgrey;
}
.card_text{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}